:root {
  /* modal */
  --z-back:   -10;
  --z-normal:  1;
  --z-tooltip: 10;
  --z-fixed:   100;
  --z-modal:   1000;

  /* Colores Redes Sociales */
  --redes-fb-color: #3b5998;
  --redes-tw-color: #55acee;
  --redes-twitch-color: purple;
  --redes-yt-color: #bb0000;
  --redes-wa-color: #4dc247;
  --redes-insta-color: #BA00BF;
  --redes-spotify-color: #1ED760;

  /* Paleta de Colores */
  --color-primario: yellow;
  --color-secundario: #ee6c09;
  --color-terciario: #158A43;
  

  /* Colores de Tema */
  --bg-principal: #202225;
  --bg-principal-medio: #33363C;
  --bg-principal-claro: #2F3136;
  --color-principal: #FFFFDA;
  --color-principal-claro: #DCDDDE;

  /* Fuentes */
  --font-roboto: 'Roboto';
  --font-roboto-alt: sans-serif;

  --font-logo: 'Press Start 2P';
  --font-log-alt: cursive;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-principal);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

.fb-color {
  color: var(--redes-fb-color);
}

.twitch-color {
  color: var(--redes-twitch-color);
}

.insta-color {
  color: var(--redes-insta-color);
}

.wa-color {
  color: var(--redes-wa-color);
}

.spotify-color {
  color: var(--redes-spotify-color);
}

.yt-color {
  color: var(--redes-yt-color);
}
